.week {
  margin: 8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 8px;
  justify-content: center;

  mat-card {
    width: 100%;
    max-width: 350px;

    &.today {
      background: #7393f03b;
    }

    &.passed {
      background: #8080803b;
    }
  }
}

.add-event {
  margin: 8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 8px;
  justify-content: center;
}
